@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --orange : #EB5C1C;
    --grey : #D9D9D9;
  
    --label: clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);
    --sub-label: clamp(1.125rem, 1.024rem + 0.4487vw, 1.5625rem);
    --input-form: clamp(0.875rem, 0.8173rem + 0.2564vw, 1.125rem);
    --modal-p: clamp(0.875rem, 0.8173rem + 0.2564vw, 1.125rem);

    --section-a-ul-fs: clamp(0.875rem, 0.8173rem + 0.2564vw, 1.125rem);
    --section-a-ul-lh: clamp(1.625rem, 1.5673rem + 0.2564vw, 1.875rem);
}

input::placeholder {
    color: var(--grey);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.content {
    padding: 20px;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.modal {
    background-color: white;
    margin: 50px auto;
    border-radius: 20px;
    width: 65.67%;
}

.body-wrapper {
    padding: 0 100px 75px 100px;
}

.close-btn {
    float: right;
    cursor: pointer;
    position: absolute;
    right: 17.2%;
}
.sub-label {
    font-family: 'Figtree';
    font-size: var(--sub-label);
    color: var(--orange);
    
  }

.label {
    font-family: 'Figtree';
    font-size: var(--label);
    
  }

  .label-wrapper {
    padding: 75px 100px 40px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: space-between;

  }

  .body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper-a {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 60%;
  }

  .wrapper-a p {
    font-size: var(--modal-p);
    font-family: 'Catamaran';
  }

  .wrapper-a input,
  .wrapper-a select {
    padding: 25px 20px;
    border: 1.5px solid var(--grey);
    border-radius: 10px;
    font-size: var(--input-form);
    font-family: 'Figtree'; 
  }

  .wrapper-b {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 31%;
    justify-content: space-between;
  }

  .wrapper-a .sub-label {
    font-family: 'Figtree';
    font-size: var(--sub-label);
  }

  .section-a p {
    font-family: 'Catamaran';
    font-weight: 400;
    font-size: var(--section-a-ul-fs);
  }

  .section-a ul {
    padding-inline: 20px;
    
    font-family: 'Catamaran';
    line-height: var(--section-a-ul-lh);
    font-size: var(--section-a-ul-fs);
  }
  .section-a li {
    list-style-image: url(./assets/bullet-point.png);
    padding-inline-start: 14px;
  }

  .section-b {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .button-wrapper {
    width: 100%;
  }

  .btn-submit {
    display: block;
    width: 100%;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 18px 0;
    font-size: var(--modal-p);
    text-align: center;
    text-decoration: none;
  }


  @media screen and (max-width: 360px) {
    .modal {
        margin: 17px auto;
        border-radius: 10px;
        width: 90%;
    }
    .close-btn {
        right: 19.2%;
        width: 80px;
        height: 80px;
    }
    .label-wrapper {
        padding: 50px 17px 30px 17px;
        row-gap: 10px;
    }
    .body-wrapper {
        flex-direction: column;
        padding: 0px 17px 30px 17px;
        row-gap: 50px;
    }

    .body-wrapper,
    .wrapper-a,
    .wrapper-b {
        width: auto;
    }
  }